/* define custom background color and use where appropriate */


a {
  text-decoration: none;
}

.section-heading {
  margin: auto;
  padding: 15px;
  width: fit-content;
}

h2 {
  color: black;
}

#about-me {
  display: flex;
  margin: 10px;
}

.heading {
  display: flex;
  background-color: rgb(58, 57, 57);
  padding: 10px;
}

.section-button {
  margin: 10px;
  padding: 10px;
  color: white;
}

.col {
  margin: auto auto auto 10px;
}

.section-button:hover {
  background-color: black;
  border-radius: 15px;
  cursor: pointer;
}

.navbar {
  display: flex;
  margin: 10px;
  padding: 10px;
}

.profile {
  height: 300px;
}

.description {
  color: black;
  background-color: gray;
  border: black 2px solid;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

.project-image {
  height: 400px;
}

.card:hover {
  cursor: pointer;
  border: red 5px solid;
  background-color: red;
}

.card {
  width: min-content;
  margin: 10px;
  padding: 10px;
}

.foot {
  background-color: rgb(58, 57, 57);
  height: 200px;
  display: flex;
}

.personal-links {
  margin: auto;
}

.footer-link {
  margin: 10px;
  padding: 10px;
  color: white;
}

.footer-link:hover {
  color: red;
  /* font-size: larger; */
  border-radius: 20px;
  background-color: white;
}